body{
  background-color: #594f72;
  font-family: "Arial";
  color: white;
}
h1{
  text-align: center;
  font-size: 60px !important;
}
h2{
  text-align: center;
  font-size: 30px !important;
}
#container{
  
}
.display{
  width: 33%;
  height: 300px;
  text-align: center;
  display: inline-block;
}
#artwork{
  float: left;
  background-color: #4c4c4c;
}
#members{
  
  background-color: #b28a4a;
}
#mission{
  float: right;
  background-color: #b25781;
}
