body{
  background-color: #594f72;
  font-family: "Arial";
  color: white;
}
h1{
  text-align: center;
  font-size: 2.5em !important;
}
h2{
  text-align: center;
  font-size: 2em !important;
}
#announcements{
	height: 50%;
}
#container{
  bottom: 0;
}
.display{
  width: 33%;
  height: 30%;
  text-align: center;
  display: inline-block;
}
#artwork{
  float: left;
  background-color: #4c4c4c;
}
#members{
  
  background-color: #b28a4a;
}
#mission{
  float: right;
  background-color: #b25781;
}
